<% recipes.each do |recipe| %>
  <%= link_to recipe do %>
    <div class="col-md-4">
      <div class="recipe">
        <div class="recipe_thumbnail_wrapper">
          <%= image_tag (recipe.cover.url :thumb), :class => 'recipe_thumbnail' if recipe.cover? %>
        </div>
        <div class="recipe_content">
          <h3><%= recipe.title  %></h3>
          <p><%= truncate(recipe.description, :length => 150, :omission => '... (click to see more)') %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>