<div class="container recipes">
  <div class="row">
    <% @recipes.each do |recipe| %>
      <a href="/recipes/<%= recipe.id %>">
        <div class="col-md-4">
          <div class="recipe">
            <h3><%= recipe.title  %></h3>
            <p><%= recipe.description %></p>
          </div>
        </div>
      </a>
    <% end %>
  </div>
</div>