<div class="container recipes">
  <div class="row">
    <% if @recipes.length > 0 %>
      <%= render 'list_recipes', recipes: @recipes %>
      <% else %>
      <div class="empty_heading">
        <h1>You haven't add any recipes!</h1>
        <%= link_to "Click here to add one", '/create_recipe' %>
      </div>
    <% end %>
  </div>
</div>