html body {
    /*font-family: 'Indie Flower', cursive;*/
    font-family: 'IBM Plex Serif', sans-serif;
    height: 100%;
    margin: 0;
}

.non_cursive {
    font-family: 'IBM Plex Serif', sans-serif;
}

.no-text-decoration {text-decoration: none !important;}
textarea {
 width: 100%;
 color: black !important;
}
.mobile_logo {display:none;}
.mobile_nav {display: none;}
.wrapper {
    min-height: calc(100vh - 50px);
    padding-bottom: 100px;
}

.user_form_links a{
    font-size: 16px;
}

.jconfirm-box {
    font-family: 'IBM Plex Serif', sans-serif;
}

.pop_up_confirm {
    background: #339999;
    color: white;
    font-size: 10px !important;
}


.footer {
    height: 50px;
    width: 100%;
    background: #339999;
    color: white;
}

.footer_content {
    padding-top: 5px;
    padding-left: 5px;
}


.footer_content a {
    color: white;
    text-decoration: none !important;
    transition: .2s all;
}

.footer_content a:hover {
    color: #89D7D7;
}

.desktop_nav {
    width: 100%;
    height: 78px;
    white-space: nowrap;
    background: #339999;
    line-height: 80px;
}

.nav_logo_container {
    display: inline;
    font-size: 25px;
    padding-left: 50px;
    margin-right: 80px;
}

.logo_digital {color: #89D7D7;}

.nav_items {
    display: inline;
    font-size: 18px;
}

.right_nav_items {
    float: right;
    margin-right: 100px;
}

.circle_avatar_container {
    border-radius: 50%;
    width: 45px;
    height: 45px;
    display: inline-block;
    background-size: cover;
    background-position: center center;
    border: 1px solid;
    vertical-align: middle;
}

.nav_item {
    transition: all .2s ease-in-out;
    padding: 100% 12px 28px 12px;
    margin-right: -5px;
    height: 100% !important;
}

.nav_item:hover {
    background: white;
    color: #339999 !important;
}

nav a {
    color: white !important;
    text-decoration: none !important;
}



.new_recipe_form {
    background: #339999;
    padding: 20px;
    border-radius: 5px;
    margin-top: 15%;
}

.new_recipe_form a {
    text-decoration: none !important;
}

.file_field {
    color: white;
}

#recipe_title, #recipe_description {
    width: 90%;
    display: block;
    font-size: 18px;
    margin: 0 auto 10px;
}

#recipe_title {
    height: 40px;
}

#recipe_description {
    height: 100px;
    margin-bottom: 30px;
}

.cover_image {
    margin: 30px auto;
    display: block;
    width: 70%;
    border: 1px solid #339999;
    border-radius: 5px;
}

.create_recipe_button {
    border: none;
    display: block;
    width: 150px !important;
    height: 30px;
    margin: 5px auto;
    background: #89D7D7;
    border-radius: 5px;
    color: black;
    transition: .2s all;
}

.create_recipe_button:hover {
    background: #6dc4c4;
}

.ingredients_form input, .steps_form input, .comment_form input {
    color: black;
}

.steps_form input {
    width: 100%;
    height: 40px;
}

.ingredients_form select {
    color: black;
    height: 25px;
}

.recipes {margin-top: 1%;}

.empty_heading {
    text-align: center;
}

.empty_heading a {
    text-decoration: none!important;
    transition: .2s all;
    font-size: 16px;
}

.recipe {
    background: #339999;
    transition: .2s all;
    border-radius: 5px;
    color: white;
    height: 400px;
    margin-top: 20px;
}

.recipe_list_rating {
    padding-bottom: 20px;
}

.unpublished_tile {
    background: #fc5555;
    color: white;
    text-align: center;
}

.recipe_content {
    display: block;
    margin: -15px auto;
    width: 96%;
    height: 50%;
}

.recipe_content p {
    margin-top: -10px;
    font-size: 18px;
}

.recipe_thumbnail {
    border-radius: 5px 5px 0 0;
    display: block;
    margin: 0 auto;
    width: 100%;
}

.recipe_thumbnail_wrapper {
    height: 60%;
    overflow: hidden;
}

.recipe:hover {transform: scale(1.03);}

.recipe_heading {
    text-align: center;
}

.publish_buttons {
    margin: 0 auto;
    width: 150px;
    height: 40px;
    display: block;
    border: none;
    border-radius: 3px;
    font-size: 16px;
}

.publish_button {
    background: #70DA8B;
    color: #343a40;
}

.unpublish_button {
    background: white;
    color: #fc5555;
    outline: none;
}

.publish_links {
    text-decoration: none !important;
    width: 150px;
    display: block;
    margin: 0 auto;
}

.publish_desc {
    text-align: center;
    background: #fc5555;
    color: white;
    font-size: 16px;
}

.recipe_buttons {
    font-size: 16px !important;
    background: #339999;
    height: 30px;
    border-radius: 5px 5px 0 0;
    border-width: 1px 1px 0 1px;
    border-style: solid;
    text-align: center;
}

.recipe_buttons .edit_button {
    padding: 0 5px 0 5px;
}

.description {
    background: #339999;
    border-radius: 5px;
    margin-bottom: 50px;
    font-size: 20px;
    color: white;
}

.comments {margin-top: 5%;}
.comments select, .comments textarea, .comment input {color: black;}
.comment {color: black; margin-bottom: 30px;}
.rating, .comment_title, .comment_user {display: inline;}
.rating {float:right; padding-right: 15px; font-size: 16px;}

.comment_title {font-size: 18px;}
.comment_body, .comment_user {font-size: 15px;}
.comment_date {font-size: 12px;}

.comment_title_field, .comment_body_field {
    width: 100%;
    border-radius: 3px;
    border: 1px solid black;
}
.comment_title_field {margin-bottom: 15px;}
.no_comments {
    font-size: 22px;
    text-align: center;
}
.comment_submit {
    margin-top: 30px;
}

.average_rating {
    text-align: center;
    margin-bottom: 30px;
}



.ingredients {
    background: #339999;
    border-radius: 5px;
    color: white;
    font-weight: lighter;
}

.steps {
    background: #339999;
    border-radius: 5px;
    color: white;
}

.even_step {
    background: #2d8282;
    margin: 20px 0 20px 0;
}

.odd_step {
    background: #35adad;
}

.even_ingredient {
    background: #2d8282;
    margin: -5px 0 -5px 0;
}

.odd_ingredient {background: #35adad;}

[id^="edit_step_"], [id^="edit_ingredient_"] {
    display: none;
    padding: 0 !important;
    margin: 0 !important;
    color: black;
}

.edit_step_button {
    background: none;
    border: none;
    outline: none;
}

#ingredient_amount {
    width: 80px;
}

.submit_buttons {
    border: none;
    background: #339999;
    padding: 10px;
    margin-top: 5px;
    font-size: 17px;
    transition: all .3s;
    color: white;
    outline: none;
}

.submit_buttons:hover {
    color: #89D7D7;
}

.container_heading {
    border-bottom: 1px solid;
    margin-bottom: 30px;
}

.steps form, .ingredients form {
    margin-top: 30px;
}

.content {
    display: inline;
    font-size: 18px;
}

.content_buttons {
    display: inline;
    float: right;
}

.delete_button {
    margin-left: 5px;
    color: #e02828;
    transition: all .2s;
    text-decoration: none !important;
}

.delete_button:hover, .delete_button:active {
    color: #c12222;
}

.edit_button {
    color: #ffe500;
    transition: all .2s;
    text-decoration: none !important;
}

.edit_button:hover, .edit_button:active {
    color: #e5ca00;
}

.notice_flash, .alert_flash {
    bottom:0;
    position:fixed;
    z-index:150;
    _position:absolute;
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: center;
}

.notice_flash {
    background: #70DA8B;
    color: #343a40;
}

.alert_flash {
    background: #fc5555;
    color: white;
}

.user_form_box {
    background: #339999;
    padding-bottom: 5px;
}

.user_form_items {
    width: 90%;
    margin: 0 auto;
    color: white;
}

.user_form_items input:not([type='checkbox']) {
   width: 100%;
    height: 30px;
    outline: none;
    color: black;
    border: none;
}

.user_form_items label {
    margin-top: 10px;
}

.user_form_items input[type=submit] {
    background: #89D7D7 !important;
    color: black !important;
    border: none;
    border-radius: 3px;
    transition: .2s all;
    margin-top: 15px;
}

.user_form_items input[type=submit]:hover {
    background: #81c6c6 !important;
}

.user_form_links {
    margin-top: 20px;
    font-size: 18px;
}

.user_form_links a {
    text-decoration: none !important;
    transition: .2s all;
    color: white;
}

.user_form_links a:hover {
    color: #89D7D7;
}

.avatar_container {
    height: 350px;
    width: 350px;
    display: block;
    background-size: cover;
    background-position: center center;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #339999;
}

.edit_profile_button {
    border: none;
    padding: 5px;
    color: black;
    transition: .2s all;
    font-size: 16px;
    box-shadow: 1px 1px #a5a5a5;
    border-radius: 3px;
    background: #89D7D7;
}

.edit_profile_button:hover {
    background: #59b2b2;
}

.edit_profile_button {
    margin-top: 20px;
}

.profile_container {
    background: #eae8e8;
    padding-bottom: 30px;
}

.profile_recipes {
    margin: -10% 0 8% 0;
}

.profile_recipe_text {text-align: center;}

.cancel_account_button {
    background-color: #fc5555 !important;
    color: white !important;
}